
@font-face {
  font-family: 'TedNext-Regular';
  font-style: normal;
  font-weight: 300;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Regular.eot") format("embedded-opentype"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Regular.woff") format("woff"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Regular.woff2") format("woff2"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Regular.svg") format("svg"); }

@font-face {
  font-family: 'TedNext-Semibold';
  font-style: normal;
  font-weight: 300;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Semibold.eot") format("embedded-opentype"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Semibold.woff") format("woff"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Semibold.woff2") format("woff2"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Semibold.svg") format("svg"); }

@font-face {
  font-family: 'TedNext-Bold';
  font-style: bold;
  font-weight: 500;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Bold.eot") format("embedded-opentype"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Bold.woff") format("woff"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Bold.woff2") format("woff2"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Bold.svg") format("svg"); }

@font-face {
  font-family: 'TedNext-Italic';
  font-style: italic;
  font-weight: 300;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Italic.eot") format("embedded-opentype"), 
url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Italic.woff") format("woff"), 
url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Italic.woff2") format("woff2"), 
url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Italic.svg") format("svg"); }

@font-face {
  font-family: 'TedNext-Light';
  font-style: normal;
  font-weight: 300;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Light.eot") format("embedded-opentype"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Light.woff") format("woff"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Light.woff2") format("woff2"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Light.svg") format("svg"); }


@font-face {
  font-family: 'TedNext-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Medium.eot") format("embedded-opentype"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Medium.woff") format("woff"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Medium.woff2") format("woff2"), 
    url("http://dui.rogers.com/1.0/modules/1/1.0.36/rogers_ebu/fonts/TedNext-Medium.svg") format("svg"); }


