/* STYLE: NORMAL */

@font-face {
  font-family: 'TedNext';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-regular.eot"), 
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-regular.woff2"), 
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-regular.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-regular.svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TedNextLight';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-light.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-light.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-light.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-light.svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TedNextSemiBold';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TedNext-Bold';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-bold.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bold.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bold.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bold.svg");
  font-weight: 900;
  font-style: normal;
}




/* STYLE: ITALIC */

@font-face {
  font-family: 'TedNext-Italic';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-italic.eot"), 
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-italic.woff2"), 
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-italic.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-italic.svg"); 
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TedNextLight-Italic';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-lightitalic.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-lightitalic.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-lightitalic.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-lightitalic.svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TedNext-CondensedItalic';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-condenseditalic.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-condenseditalic.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-condenseditalic.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-condenseditalic.svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TedNextSemiBold-Italic';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibolditalic.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibolditalic.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibolditalic.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-semibolditalic.svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TedNext-BoldItalic';
  src: url("http://www.rogers.com/cms/common/dca/fonts/tednext-bolditalic.eot"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bolditalic.woff2"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bolditalic.woff"),
    url("http://www.rogers.com/cms/common/dca/fonts/tednext-bolditalic.svg");
  font-weight: 900;
  font-style: italic;
}
